.u-section-1 .u-sheet-1 {
  min-height: 270px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 100px;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 40px;
  line-height: 1.6;
} .u-section-2 {
  --color-var: #ffffff;
}

.u-section-2 .u-sheet-1 {
  min-height: 905px;
}

.u-section-2 .u-group-1 {
  height: auto;
  min-height: 359px;
  margin-top: 47px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 20px 133px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 0 307px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 1px 20px 0 599px;
}

.u-section-2 .u-text-4 {
  margin: -185px 600px 0 40px;
}

.u-section-2 .u-group-2 {
  height: auto;
  min-height: 359px;
  border-style: solid;
  margin-top: 40px;
  margin-bottom: 60px;
  width: 100%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-video-1 {
  width: 540px;
  height: 327px;
  margin: 15px 0 0 auto;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-text-5 {
  margin: -322px 580px 0 20px;
}

.u-section-2 .u-text-6 {
  margin: 0 683px 0 20px;
}

.u-section-2 .u-text-7 {
  margin: 7px 599px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2392px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 643px;
    height: auto;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 419px;
  }

  .u-section-2 .u-group-2 {
    margin-top: -39px;
    height: auto;
    width: auto;
  }

  .u-section-2 .u-video-1 {
    width: 100px;
    height: 61px;
    margin-top: 91px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -134px;
    margin-right: 543px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 49px;
    margin-right: 656px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 399px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2987px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 983px;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 101px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 199px;
  }

  .u-section-2 .u-group-2 {
    min-height: 399px;
    margin-top: -364px;
    width: auto;
  }

  .u-section-2 .u-text-5 {
    margin-right: 416px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 502px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 179px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 4262px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 930px;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: 19px;
  }

  .u-section-2 .u-group-2 {
    min-height: 393px;
    margin-top: -320px;
    width: auto;
  }

  .u-section-2 .u-video-1 {
    margin-top: 120px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -163px;
    margin-right: 312px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 377px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 18991px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 714px;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: -224px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 20px;
    margin-left: 599px;
  }

  .u-section-2 .u-group-2 {
    min-height: 436px;
    margin-top: -66px;
    width: auto;
  }

  .u-section-2 .u-video-1 {
    margin-top: 196px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -239px;
    margin-right: 196px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -231px;
    margin-right: 237px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 599px;
  }
}