.u-section-1 .u-sheet-1 {
  min-height: 10px;
}

.u-section-1 .u-shape-1 {
  width: 183px;
  height: 5728px;
  margin: 0 19px -5685px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 43px;
  }

  .u-section-1 .u-shape-1 {
    height: 8044px;
    margin-bottom: -8001px;
  }
} .u-section-2 {
  min-height: 480px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 30px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 450px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 29px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 13px auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-2 .u-text-4 {
  margin: 14px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 450px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-video-1 {
  width: 600px;
  left: auto;
  right: -30px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-line-1 {
  transform-origin: left center;
  border-style: solid;
  width: 1170px;
  margin: -2px 20px 0 50px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 430px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-2 .u-video-1 {
    inset: auto;
  }

  .u-section-2 .u-line-1 {
    height: 2px;
    margin-top: 20px;
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 344px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 290px;
  }

  .u-section-2 .u-line-1 {
    margin-top: -2px;
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 586px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 429px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 20px;
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-3 {
  min-height: 565px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 450px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-video-1 {
  width: 600px;
  left: -30px;
  right: auto;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 450px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 13px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 17px 0 0;
}

.u-section-3 .u-line-1 {
  transform-origin: right center;
  border-style: solid;
  width: 1170px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2)  + -30px);
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 430px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-3 .u-video-1 {
    inset: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-3 .u-line-1 {
    height: 2px;
    margin-top: 20px;
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 344px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 290px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-line-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 586px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-line-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 429px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 274px;
  }

  .u-section-3 .u-line-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-4 {
  min-height: 565px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px auto 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 450px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 29px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 13px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0 auto;
}

.u-section-4 .u-text-4 {
  margin: 14px 0 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 450px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-video-1 {
  width: 600px;
  left: auto;
  right: -30px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

.u-section-4 .u-line-1 {
  transform-origin: right center;
  border-style: solid;
  width: 1170px;
  margin: 0 calc(((100% - 1140px) / 2)  + -30px) 0 auto;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 430px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-4 .u-video-1 {
    inset: auto;
  }

  .u-section-4 .u-line-1 {
    height: 2px;
    margin-top: 20px;
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 344px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 290px;
  }

  .u-section-4 .u-line-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 586px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-4 .u-line-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 429px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-4 .u-line-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-5 {
  min-height: 522px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px auto 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 450px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-video-1 {
  width: 600px;
  left: -30px;
  right: auto;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 450px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-5 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 13px auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-4 {
  margin: 14px auto 0 0;
}

.u-section-5 .u-line-1 {
  transform-origin: right center;
  border-style: solid;
  width: 1170px;
  margin: 0 auto -43px calc(((100% - 1140px) / 2)  + -30px);
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 430px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-5 .u-video-1 {
    inset: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-5 .u-line-1 {
    height: 2px;
    margin-top: 20px;
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 344px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 290px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-line-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 586px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-line-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 429px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 274px;
  }

  .u-section-5 .u-line-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-6 {
  min-height: 462px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px auto 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 400px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 29px;
}

.u-section-6 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: 13px auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-4 {
  margin: 14px auto 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 400px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-video-1 {
  width: 600px;
  left: auto;
  right: -30px;
}

.u-section-6 .embed-responsive-1 {
  position: absolute;
}

.u-section-6 .u-line-1 {
  transform-origin: left center;
  border-style: solid;
  width: 1170px;
  margin: 0 calc(((100% - 1140px) / 2)  + -30px) 0 auto;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 430px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-6 .u-video-1 {
    inset: auto;
  }

  .u-section-6 .u-line-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 344px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 290px;
  }

  .u-section-6 .u-line-1 {
    width: 720px;
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 586px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-6 .u-line-1 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 429px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-6 .u-line-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-7 {
  min-height: 462px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px auto 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 400px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-video-1 {
  width: 600px;
  left: -30px;
  right: auto;
}

.u-section-7 .embed-responsive-1 {
  position: absolute;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 447px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-7 .u-text-1 {
  margin: 0 1px;
}

.u-section-7 .u-text-2 {
  margin: 13px 0 0;
}

.u-section-7 .u-text-3 {
  margin: 20px 0 0 auto;
}

.u-section-7 .u-text-4 {
  margin: 14px 0 0 auto;
}

.u-section-7 .u-line-1 {
  transform-origin: left center;
  border-style: solid;
  width: 1170px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2)  + -30px);
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 430px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-7 .u-video-1 {
    inset: auto;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-line-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 344px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 290px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-line-1 {
    width: 720px;
    margin-top: 20px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 586px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-line-1 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 429px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 274px;
  }

  .u-section-7 .u-line-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-8 {
  min-height: 519px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px auto 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 447px;
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 30px 29px;
}

.u-section-8 .u-text-1 {
  margin: 0 126px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 14px auto 0 0;
}

.u-section-8 .u-text-3 {
  margin: 19px 0 0;
}

.u-section-8 .u-text-4 {
  margin: 14px auto 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 400px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

.u-section-8 .u-video-1 {
  width: 600px;
  left: auto;
  right: -30px;
}

.u-section-8 .embed-responsive-1 {
  position: absolute;
}

.u-section-8 .u-line-1 {
  transform-origin: left center;
  border-style: solid;
  width: 1170px;
  margin: 0 20px 0 50px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 430px;
  }

  .u-section-8 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-8 .u-video-1 {
    inset: auto;
  }

  .u-section-8 .u-line-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 344px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 92px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 290px;
  }

  .u-section-8 .u-line-1 {
    width: 720px;
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 586px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-8 .u-line-1 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 429px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-8 .u-line-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-9 {
  min-height: 472px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px auto 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-9 .u-container-layout-1 {
  padding: 0;
}

.u-section-9 .u-video-1 {
  width: 600px;
  left: -30px;
  right: auto;
}

.u-section-9 .embed-responsive-1 {
  position: absolute;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-9 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-2 {
  margin: 13px auto 0 0;
}

.u-section-9 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-9 .u-text-4 {
  margin: 14px auto 0 0;
}

.u-section-9 .u-line-1 {
  transform-origin: right center;
  border-style: solid;
  width: 1170px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2)  + -30px);
}

@media (max-width: 1199px) {
   .u-section-9 {
    min-height: 430px;
  }

  .u-section-9 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-9 .u-video-1 {
    inset: auto;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-9 .u-line-1 {
    height: 2px;
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 344px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 290px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-line-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-9 {
    min-height: 586px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-line-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-9 {
    min-height: 429px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 274px;
  }

  .u-section-9 .u-line-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-10 {
  min-height: 472px;
}

.u-section-10 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px auto 0;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 400px;
  background-image: none;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-2 {
  margin: 13px auto 0 0;
}

.u-section-10 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-10 .u-text-4 {
  margin: 14px auto 0 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 400px;
  background-image: none;
}

.u-section-10 .u-container-layout-2 {
  padding: 0;
}

.u-section-10 .u-video-1 {
  width: 600px;
  left: auto;
  right: -30px;
}

.u-section-10 .embed-responsive-1 {
  position: absolute;
}

.u-section-10 .u-line-1 {
  transform-origin: left center;
  border-style: solid;
  width: 1170px;
  margin: 0 calc(((100% - 1140px) / 2)  + -30px) 0 auto;
}

@media (max-width: 1199px) {
   .u-section-10 {
    min-height: 430px;
  }

  .u-section-10 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-10 .u-video-1 {
    inset: auto;
  }

  .u-section-10 .u-line-1 {
    height: 2px;
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-10 {
    min-height: 344px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 290px;
  }

  .u-section-10 .u-line-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-10 {
    min-height: 586px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-10 .u-line-1 {
    margin-top: 20px;
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-10 {
    min-height: 429px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-10 .u-line-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-11 {
  min-height: 547px;
}

.u-section-11 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px auto 0;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 450px;
}

.u-section-11 .u-container-layout-1 {
  padding: 0;
}

.u-section-11 .u-video-1 {
  width: 600px;
  left: -30px;
  right: auto;
}

.u-section-11 .embed-responsive-1 {
  position: absolute;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 450px;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-11 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-2 {
  margin: 13px auto 0 0;
}

.u-section-11 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-11 .u-text-4 {
  margin: 14px auto 0 0;
}

.u-section-11 .u-line-1 {
  transform-origin: right center;
  border-style: solid;
  width: 1170px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2)  + -30px);
}

@media (max-width: 1199px) {
   .u-section-11 {
    min-height: 430px;
  }

  .u-section-11 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-11 .u-video-1 {
    inset: auto;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-11 .u-line-1 {
    height: 2px;
    margin-top: 20px;
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-11 {
    min-height: 344px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 290px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-line-1 {
    margin-top: 0;
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-11 {
    min-height: 586px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-line-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-11 {
    min-height: 429px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 274px;
  }

  .u-section-11 .u-line-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-12 {
  min-height: 472px;
}

.u-section-12 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px auto 0;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 400px;
  background-image: none;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px;
}

.u-section-12 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-12 .u-text-2 {
  margin: 13px auto 0 0;
}

.u-section-12 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-12 .u-text-4 {
  margin: 14px auto 0 0;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 400px;
  background-image: none;
}

.u-section-12 .u-container-layout-2 {
  padding: 0;
}

.u-section-12 .u-video-1 {
  width: 600px;
  left: auto;
  right: -30px;
}

.u-section-12 .embed-responsive-1 {
  position: absolute;
}

.u-section-12 .u-line-1 {
  transform-origin: left center;
  border-style: solid;
  width: 1170px;
  margin: 0 calc(((100% - 1140px) / 2)  + -30px) 0 auto;
}

@media (max-width: 1199px) {
   .u-section-12 {
    min-height: 430px;
  }

  .u-section-12 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-12 .u-video-1 {
    inset: auto;
  }

  .u-section-12 .u-line-1 {
    height: 2px;
    margin-top: 20px;
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-12 {
    min-height: 344px;
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 290px;
  }

  .u-section-12 .u-line-1 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-12 {
    min-height: 586px;
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-12 .u-line-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-12 {
    min-height: 429px;
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-12 .u-line-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-13 {
  min-height: 472px;
}

.u-section-13 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px auto 0;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-13 .u-container-layout-1 {
  padding: 0;
}

.u-section-13 .u-video-1 {
  width: 600px;
  left: -30px;
  right: auto;
}

.u-section-13 .embed-responsive-1 {
  position: absolute;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-13 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-13 .u-text-2 {
  margin: 13px auto 0 0;
}

.u-section-13 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-13 .u-text-4 {
  margin: 14px auto 0 0;
}

.u-section-13 .u-line-1 {
  transform-origin: right center;
  border-style: solid;
  width: 1170px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2)  + -30px);
}

@media (max-width: 1199px) {
   .u-section-13 {
    min-height: 430px;
  }

  .u-section-13 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-13 .u-video-1 {
    inset: auto;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-13 .u-line-1 {
    height: 2px;
    margin-top: 20px;
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-13 {
    min-height: 344px;
  }

  .u-section-13 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 290px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-13 .u-line-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + -300px);
  }
}

@media (max-width: 767px) {
   .u-section-13 {
    min-height: 586px;
  }

  .u-section-13 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-line-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + -300px);
  }
}

@media (max-width: 575px) {
   .u-section-13 {
    min-height: 429px;
  }

  .u-section-13 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 274px;
  }

  .u-section-13 .u-line-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + -300px);
  }
} .u-section-14 {
  min-height: 542px;
}

.u-section-14 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px auto 0;
}

.u-section-14 .u-layout-cell-1 {
  min-height: 400px;
  background-image: none;
}

.u-section-14 .u-container-layout-1 {
  padding: 30px;
}

.u-section-14 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-14 .u-text-2 {
  margin: 13px auto 0 0;
}

.u-section-14 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-14 .u-text-4 {
  margin: 14px auto 0 0;
}

.u-section-14 .u-layout-cell-2 {
  min-height: 400px;
  background-image: none;
}

.u-section-14 .u-container-layout-2 {
  padding: 0;
}

.u-section-14 .u-video-1 {
  width: 600px;
  left: auto;
  right: -30px;
}

.u-section-14 .embed-responsive-1 {
  position: absolute;
}

.u-section-14 .u-line-1 {
  transform-origin: left center;
  border-style: solid;
  width: 1170px;
  margin: 0 calc(((100% - 1140px) / 2)  + -30px) 70px auto;
}

@media (max-width: 1199px) {
   .u-section-14 {
    min-height: 430px;
  }

  .u-section-14 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-14 .u-video-1 {
    inset: auto;
  }

  .u-section-14 .u-line-1 {
    height: 2px;
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-14 {
    min-height: 344px;
  }

  .u-section-14 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 290px;
  }

  .u-section-14 .u-line-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-14 {
    min-height: 586px;
  }

  .u-section-14 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-14 .u-line-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-14 {
    min-height: 429px;
  }

  .u-section-14 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-14 .u-line-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }
}