.u-section-1 .u-sheet-1 {
  min-height: 299px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 100px;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 40px;
  line-height: 1.6;
} .u-section-2 {
  --color-var: #ffffff;
}

.u-section-2 .u-sheet-1 {
  min-height: 1188px;
}

.u-section-2 .u-group-1 {
  height: auto;
  min-height: 374px;
  --radius: 10px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-video-1 {
  width: 540px;
  height: 327px;
  margin: 15px auto 0 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -321px 74px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 0 234px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 9px 20px 0 599px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-group-2 {
  height: auto;
  min-height: 361px;
  border-style: solid;
  margin-top: 79px;
  margin-bottom: 60px;
  width: 100%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-video-2 {
  width: 540px;
  height: 327px;
  margin: 18px 0 0 auto;
}

.u-section-2 .embed-responsive-2 {
  position: absolute;
}

.u-section-2 .u-text-4 {
  margin: -320px 580px 0 20px;
}

.u-section-2 .u-text-5 {
  margin: 0 683px 0 20px;
}

.u-section-2 .u-text-6 {
  margin: 3px 599px 0 20px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
    width: auto;
  }

  .u-section-2 .u-video-1 {
    width: 100px;
    height: 61px;
    margin-top: 78px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -110px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 63px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
    width: auto;
  }

  .u-section-2 .u-video-2 {
    width: 100px;
    height: 61px;
    margin-top: 91px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -134px;
    margin-right: 543px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 50px;
    margin-right: 656px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 399px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-top: 101px;
  }

  .u-section-2 .u-group-2 {
    min-height: 399px;
    width: auto;
  }

  .u-section-2 .u-text-4 {
    margin-right: 416px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 502px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 179px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    min-height: 394px;
    width: auto;
  }

  .u-section-2 .u-video-1 {
    margin-top: 102px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -134px;
  }

  .u-section-2 .u-group-2 {
    min-height: 393px;
    width: auto;
  }

  .u-section-2 .u-video-2 {
    margin-top: 120px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -163px;
    margin-right: 312px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 377px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-video-1 {
    margin-top: 155px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -187px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -224px;
  }

  .u-section-2 .u-group-2 {
    min-height: 436px;
    width: auto;
  }

  .u-section-2 .u-video-2 {
    margin-top: 196px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -239px;
    margin-right: 196px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -231px;
    margin-right: 237px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 599px;
  }
}