.u-section-1 .u-sheet-1 {
  min-height: 132px;
}

.u-section-1 .u-text-1 {
  margin: 40px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 917px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 22px;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-video-1 {
  height: 641px;
  margin-top: 20px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-accordion-1 {
  margin-top: 20px;
  margin-bottom: 22px;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  border-style: solid;
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 30px;
  width: 30px;
  background-image: none;
  padding: 0;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 460px;
}

.u-section-2 .u-container-layout-1 {
  padding: 19px 30px;
}

.u-section-2 .u-text-4 {
  background-image: none;
  margin: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-2 .u-video-1 {
    height: 459px;
  }

  .u-section-2 .embed-responsive-1 {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-2 .u-video-1 {
    height: 641px;
  }

  .u-section-2 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-2 .u-video-1 {
    height: 459px;
  }

  .u-section-2 .embed-responsive-1 {
    width: 281%;
    left: -90%;
    height: 100%;
    top: 0%;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 917px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 22px;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-video-1 {
  height: 641px;
  margin-top: 20px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-accordion-1 {
  margin-top: 20px;
  margin-bottom: 22px;
}

.u-section-3 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  border-style: solid;
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 30px;
  width: 30px;
  background-image: none;
  padding: 0;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 514px;
}

.u-section-3 .u-container-layout-1 {
  padding: 19px 30px;
}

.u-section-3 .u-text-4 {
  margin: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-3 .u-video-1 {
    height: 459px;
  }

  .u-section-3 .embed-responsive-1 {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-3 .u-video-1 {
    height: 641px;
  }

  .u-section-3 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-3 .u-video-1 {
    height: 459px;
  }

  .u-section-3 .embed-responsive-1 {
    width: 281%;
    left: -90%;
    height: 100%;
    top: 0%;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 917px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 22px;
}

.u-section-4 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-video-1 {
  height: 641px;
  margin-top: 20px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

.u-section-4 .u-accordion-1 {
  margin-top: 20px;
  margin-bottom: 22px;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  border-style: solid;
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 30px;
  width: 30px;
  background-image: none;
  padding: 0;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 460px;
}

.u-section-4 .u-container-layout-1 {
  padding: 19px 30px;
}

.u-section-4 .u-text-4 {
  margin: 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-4 .u-video-1 {
    height: 459px;
  }

  .u-section-4 .embed-responsive-1 {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-4 .u-video-1 {
    height: 641px;
  }

  .u-section-4 .embed-responsive-1 {
    width: 178%;
    height: 178%;
    left: -39%;
    top: -39%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-4 .u-video-1 {
    height: 459px;
  }

  .u-section-4 .embed-responsive-1 {
    width: 281%;
    height: 100%;
    left: -90%;
    top: 0%;
  }
}